{% extends "base.html.twig" %}

{% block title %} Agregar Taera {% endblock %}
{% block body %}
    <h3>Agregar Tarea</h3>
    {{ form_start(newTaskForm, {'attr': {'novalidate': 'novalidate'}})}}
        <div class="form-group">
            {{ form_label(newTaskForm.name, 'Nombre:') }}
            {{ form_widget(newTaskForm.name) }}            
        </div>
        
        <div class="form-group">
            {{ form_label(newTaskForm.details, 'Detalles:') }}
            {{ form_widget(newTaskForm.details) }}           
        </div>
        
        <div class="form-group">
            {{ form_label(newTaskForm.fechaCreacion, 'Fecha de creación:') }}
            {{ form_widget(newTaskForm.fechaCreacion) }}            
        </div>
        
        <div class="form-group">
            {{ form_label(newTaskForm.category, 'Categoria:') }}
            {{ form_widget(newTaskForm.category) }}            
        </div>
        
        <div class="form-group">
            {{ form_label(newTaskForm.client, 'Cliente:') }}
            {{ form_widget(newTaskForm.client) }}            
        </div>
        
        <button class="btn btn-primary" type="submit" formmethod="post"><i class="fa fa-save"></i> Agregar</button>
    {{ form_end(newTaskForm) }}
    <br>
{% endblock %}