{% extends "base.html.twig" %}

{% block title %} Task list {% endblock %}

{% block body %}
    <h3>Tareas:</h3>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Category</th>
                <th>Client</th>
                <th>Create date</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                 <tr>
                    <td>{{task.name}}</td>                    
                    <td>{{task.details}}</td>                    
                    <td>{{task.category}}</td>                    
                    <td>{{task.client}}</td>                    
                    <td>{{task.createdate|date('Y-m-d')}}</td>
                    <td align="center">
                        <a href="{{ path('updateTask', {id: task.id}) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                    <td align="center">
                        <a href="{{ path('removeTask', {id: task.id}) }}" onclick="return confirm('Está seguro que desea eliminar la tarea')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
            
{% endblock %}
